-- CreateTable
CREATE TABLE `recuperacao_senha` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `usuarioId` INTEGER NOT NULL,
    `codigo` VARCHAR(6) NOT NULL,
    `expira` DATETIME(3) NOT NULL,
    `usado` BOOLEAN NOT NULL DEFAULT false,
    `criado_em` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `recuperacao_senha_usuarioId_fkey`(`usuarioId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `categoria` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `nome` VARCHAR(191) NOT NULL,
    `descricao` TEXT NULL,
    `icone` VARCHAR(50) NULL,
    `preco_base` DECIMAL(10, 2) NULL,
    `tempo_medio` INTEGER NULL,

    UNIQUE INDEX `categoria_nome_key`(`nome`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `servico` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `id_contratante` INTEGER NOT NULL,
    `id_prestador` INTEGER NULL,
    `id_categoria` INTEGER NULL,
    `descricao` VARCHAR(191) NOT NULL,
    `status` ENUM('PENDENTE', 'EM_ANDAMENTO', 'FINALIZADO', 'CANCELADO') NOT NULL DEFAULT 'PENDENTE',
    `data_solicitacao` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `data_conclusao` DATETIME(3) NULL,
    `data_confirmacao` DATETIME(3) NULL,
    `id_localizacao` INTEGER NULL,
    `valor` DECIMAL(10, 2) NULL,

    INDEX `servico_id_categoria_fkey`(`id_categoria`),
    INDEX `servico_id_contratante_fkey`(`id_contratante`),
    INDEX `servico_id_localizacao_fkey`(`id_localizacao`),
    INDEX `servico_id_prestador_fkey`(`id_prestador`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `notificacao` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `id_usuario` INTEGER NOT NULL,
    `id_servico` INTEGER NULL,
    `tipo` VARCHAR(191) NOT NULL,
    `titulo` VARCHAR(191) NOT NULL,
    `mensagem` VARCHAR(191) NOT NULL,
    `lida` BOOLEAN NOT NULL DEFAULT false,
    `data_criacao` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `avaliacao` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `id_servico` INTEGER NOT NULL,
    `id_contratante` INTEGER NOT NULL,
    `id_prestador` INTEGER NOT NULL,
    `nota` INTEGER NOT NULL,
    `comentario` TEXT NULL,
    `data_avaliacao` DATETIME(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `id_servico`(`id_servico`),
    INDEX `avaliacao_id_contratante_idx`(`id_contratante`),
    INDEX `avaliacao_id_prestador_idx`(`id_prestador`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `pagamento` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `id_servico` INTEGER NOT NULL,
    `id_contratante` INTEGER NOT NULL,
    `id_prestador` INTEGER NOT NULL,
    `valor` DECIMAL(10, 2) NOT NULL,
    `metodo` ENUM('CARTEIRA_PAGBANK', 'PIX', 'CARTAO') NOT NULL DEFAULT 'CARTEIRA_PAGBANK',
    `status` ENUM('PENDENTE', 'PAGO', 'FALHOU', 'CANCELADO') NOT NULL DEFAULT 'PENDENTE',
    `id_pagbank` VARCHAR(191) NULL,
    `data_pagamento` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `pagamento_id_contratante_fkey`(`id_contratante`),
    INDEX `pagamento_id_prestador_fkey`(`id_prestador`),
    INDEX `pagamento_id_servico_fkey`(`id_servico`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `carteira` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `id_usuario` INTEGER NOT NULL,
    `chave_pagbank` VARCHAR(191) NOT NULL,
    `saldo` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `data_criacao` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `carteira_id_usuario_key`(`id_usuario`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `transacao_carteira` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `id_carteira` INTEGER NOT NULL,
    `tipo` ENUM('ENTRADA', 'SAIDA') NOT NULL,
    `valor` DECIMAL(10, 2) NOT NULL,
    `descricao` VARCHAR(191) NULL,
    `data_transacao` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `transacao_carteira_id_carteira_fkey`(`id_carteira`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `localizacao` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `logradouro` VARCHAR(191) NOT NULL,
    `numero` VARCHAR(191) NULL,
    `bairro` VARCHAR(191) NOT NULL,
    `cidade` VARCHAR(191) NOT NULL,
    `cep` VARCHAR(191) NULL,
    `latitude` DECIMAL(65, 30) NOT NULL,
    `longitude` DECIMAL(65, 30) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `contratante` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `necessidade` ENUM('IDOSO', 'DEF_VISUAL', 'DEF_AUDITIVA', 'DEF_MOTORA', 'DEF_INTELECTUAL', 'NENHUMA') NULL,
    `id_usuario` INTEGER NOT NULL,
    `id_localizacao` INTEGER NOT NULL,
    `cpf` VARCHAR(191) NULL,

    UNIQUE INDEX `Contratante_id_usuario_key`(`id_usuario`),
    UNIQUE INDEX `Contratante_cpf_key`(`cpf`),
    INDEX `Contratante_id_localizacao_fkey`(`id_localizacao`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `documento` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `tipo_documento` ENUM('RG', 'CPF', 'CNH_EAR', 'TIPO_VEICULO', 'MODELO_VEICULO', 'ANO_VEICULO') NOT NULL,
    `valor` VARCHAR(191) NOT NULL,
    `data_validade` DATETIME(3) NULL,
    `arquivo_url` VARCHAR(191) NULL,
    `id_prestador` INTEGER NOT NULL,

    INDEX `Documento_id_prestador_fkey`(`id_prestador`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `prestador` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `id_usuario` INTEGER NOT NULL,

    UNIQUE INDEX `Prestador_id_usuario_key`(`id_usuario`),
    INDEX `Prestador_id_usuario_idx`(`id_usuario`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `usuario` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `nome` VARCHAR(191) NOT NULL,
    `senha_hash` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `telefone` VARCHAR(191) NOT NULL,
    `tipo_conta` ENUM('CONTRATANTE', 'PRESTADOR') NULL,
    `criado_em` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `Usuario_email_key`(`email`),
    UNIQUE INDEX `Usuario_telefone_key`(`telefone`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `_localizacaotoprestador` (
    `A` INTEGER NOT NULL,
    `B` INTEGER NOT NULL,

    UNIQUE INDEX `_localizacaotoprestador_AB_unique`(`A`, `B`),
    INDEX `_localizacaotoprestador_B_index`(`B`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `recuperacao_senha` ADD CONSTRAINT `recuperacao_senha_usuarioId_fkey` FOREIGN KEY (`usuarioId`) REFERENCES `usuario`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `servico` ADD CONSTRAINT `servico_id_categoria_fkey` FOREIGN KEY (`id_categoria`) REFERENCES `categoria`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `servico` ADD CONSTRAINT `servico_id_contratante_fkey` FOREIGN KEY (`id_contratante`) REFERENCES `contratante`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `servico` ADD CONSTRAINT `servico_id_localizacao_fkey` FOREIGN KEY (`id_localizacao`) REFERENCES `localizacao`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `servico` ADD CONSTRAINT `servico_id_prestador_fkey` FOREIGN KEY (`id_prestador`) REFERENCES `prestador`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `notificacao` ADD CONSTRAINT `notificacao_id_usuario_fkey` FOREIGN KEY (`id_usuario`) REFERENCES `usuario`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `notificacao` ADD CONSTRAINT `notificacao_id_servico_fkey` FOREIGN KEY (`id_servico`) REFERENCES `servico`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `pagamento` ADD CONSTRAINT `pagamento_id_contratante_fkey` FOREIGN KEY (`id_contratante`) REFERENCES `contratante`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `pagamento` ADD CONSTRAINT `pagamento_id_prestador_fkey` FOREIGN KEY (`id_prestador`) REFERENCES `prestador`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `pagamento` ADD CONSTRAINT `pagamento_id_servico_fkey` FOREIGN KEY (`id_servico`) REFERENCES `servico`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `carteira` ADD CONSTRAINT `carteira_id_usuario_fkey` FOREIGN KEY (`id_usuario`) REFERENCES `usuario`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `transacao_carteira` ADD CONSTRAINT `transacao_carteira_id_carteira_fkey` FOREIGN KEY (`id_carteira`) REFERENCES `carteira`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `contratante` ADD CONSTRAINT `Contratante_id_localizacao_fkey` FOREIGN KEY (`id_localizacao`) REFERENCES `localizacao`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `contratante` ADD CONSTRAINT `Contratante_id_usuario_fkey` FOREIGN KEY (`id_usuario`) REFERENCES `usuario`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `documento` ADD CONSTRAINT `Documento_id_prestador_fkey` FOREIGN KEY (`id_prestador`) REFERENCES `prestador`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `prestador` ADD CONSTRAINT `Prestador_id_usuario_fkey` FOREIGN KEY (`id_usuario`) REFERENCES `usuario`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `_localizacaotoprestador` ADD CONSTRAINT `_localizacaotoprestador_A_fkey` FOREIGN KEY (`A`) REFERENCES `localizacao`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `_localizacaotoprestador` ADD CONSTRAINT `_localizacaotoprestador_B_fkey` FOREIGN KEY (`B`) REFERENCES `prestador`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

